<p>Добрый день!</p>

<p>Вами была отправлена заявка на участие в инвестиционной карте Камчатской области.</p>

<p><%= link_to "Начать регистрацию", accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

<p>Если это ошибка или Вы не хотите начинать регистрацию просто проигонрируйте это письмо.<br />
Ваш аккаунт не будет создан, пока вы не установите пароль.</p>
